agno>=2.0.4
ddgs>=9.6.0
fastapi[standard]>=0.116.1
google-genai>=1.36.0
groq>=0.31.1
lancedb>=0.25.0
matplotlib>=3.10.6
mpremote>=1.26.1
openai>=1.108.0
paho-mqtt>=2.1.0
pandas>=2.3.3
psycopg>=3.2.10
pygithub>=2.8.1
pypdf>=6.0.0
sqlalchemy>=2.0.43
tantivy>=0.25.0
textual[syntax]>=6.2.1
textual-dev>=1.7.0
mcp[cli]>=1.17.0